.numer1 {
  color: rgb(1, 255, 0);
}

.numer2 {
  color: rgb(2, 254, 0);
}

.numer3 {
  color: rgb(3, 253, 0);
}

.numer4 {
  color: rgb(4, 252, 0);
}

.numer5 {
  color: rgb(5, 251, 0);
}

.numer6 {
  color: rgb(6, 250, 0);
}

.numer7 {
  color: rgb(7, 249, 0);
}

.numer8 {
  color: rgb(8, 248, 0);
}

.numer9 {
  color: rgb(9, 247, 0);
}

.numer10 {
  color: rgb(10, 246, 0);
}

.numer11 {
  color: rgb(11, 245, 0);
}

.numer12 {
  color: rgb(12, 244, 0);
}

.numer13 {
  color: rgb(13, 243, 0);
}

.numer14 {
  color: rgb(14, 242, 0);
}

.numer15 {
  color: rgb(15, 241, 0);
}

.numer16 {
  color: rgb(16, 240, 0);
}

.numer17 {
  color: rgb(17, 239, 0);
}

.numer18 {
  color: rgb(18, 238, 0);
}

.numer19 {
  color: rgb(19, 237, 0);
}

.numer20 {
  color: rgb(20, 236, 0);
}

.numer21 {
  color: rgb(21, 235, 0);
}

.numer22 {
  color: rgb(22, 234, 0);
}

.numer23 {
  color: rgb(23, 233, 0);
}

.numer24 {
  color: rgb(24, 232, 0);
}

.numer25 {
  color: rgb(25, 231, 0);
}

.numer26 {
  color: rgb(26, 230, 0);
}

.numer27 {
  color: rgb(27, 229, 0);
}

.numer28 {
  color: rgb(28, 228, 0);
}

.numer29 {
  color: rgb(29, 227, 0);
}

.numer30 {
  color: rgb(30, 226, 0);
}

.numer31 {
  color: rgb(31, 225, 0);
}

.numer32 {
  color: rgb(32, 224, 0);
}

.numer33 {
  color: rgb(33, 223, 0);
}

.numer34 {
  color: rgb(34, 222, 0);
}

.numer35 {
  color: rgb(35, 221, 0);
}

.numer36 {
  color: rgb(36, 220, 0);
}

.numer37 {
  color: rgb(37, 219, 0);
}

.numer38 {
  color: rgb(38, 218, 0);
}

.numer39 {
  color: rgb(39, 217, 0);
}

.numer40 {
  color: rgb(40, 216, 0);
}

.numer41 {
  color: rgb(41, 215, 0);
}

.numer42 {
  color: rgb(42, 214, 0);
}

.numer43 {
  color: rgb(43, 213, 0);
}

.numer44 {
  color: rgb(44, 212, 0);
}

.numer45 {
  color: rgb(45, 211, 0);
}

.numer46 {
  color: rgb(46, 210, 0);
}

.numer47 {
  color: rgb(47, 209, 0);
}

.numer48 {
  color: rgb(48, 208, 0);
}

.numer49 {
  color: rgb(49, 207, 0);
}

.numer50 {
  color: rgb(50, 206, 0);
}

.numer51 {
  color: rgb(51, 205, 0);
}

.numer52 {
  color: rgb(52, 204, 0);
}

.numer53 {
  color: rgb(53, 203, 0);
}

.numer54 {
  color: rgb(54, 202, 0);
}

.numer55 {
  color: rgb(55, 201, 0);
}

.numer56 {
  color: rgb(56, 200, 0);
}

.numer57 {
  color: rgb(57, 199, 0);
}

.numer58 {
  color: rgb(58, 198, 0);
}

.numer59 {
  color: rgb(59, 197, 0);
}

.numer60 {
  color: rgb(60, 196, 0);
}

.numer61 {
  color: rgb(61, 195, 0);
}

.numer62 {
  color: rgb(62, 194, 0);
}

.numer63 {
  color: rgb(63, 193, 0);
}

.numer64 {
  color: rgb(64, 192, 0);
}

.numer65 {
  color: rgb(65, 191, 0);
}

.numer66 {
  color: rgb(66, 190, 0);
}

.numer67 {
  color: rgb(67, 189, 0);
}

.numer68 {
  color: rgb(68, 188, 0);
}

.numer69 {
  color: rgb(69, 187, 0);
}

.numer70 {
  color: rgb(70, 186, 0);
}

.numer71 {
  color: rgb(71, 185, 0);
}

.numer72 {
  color: rgb(72, 184, 0);
}

.numer73 {
  color: rgb(73, 183, 0);
}

.numer74 {
  color: rgb(74, 182, 0);
}

.numer75 {
  color: rgb(75, 181, 0);
}

.numer76 {
  color: rgb(76, 180, 0);
}

.numer77 {
  color: rgb(77, 179, 0);
}

.numer78 {
  color: rgb(78, 178, 0);
}

.numer79 {
  color: rgb(79, 177, 0);
}

.numer80 {
  color: rgb(80, 176, 0);
}

.numer81 {
  color: rgb(81, 175, 0);
}

.numer82 {
  color: rgb(82, 174, 0);
}

.numer83 {
  color: rgb(83, 173, 0);
}

.numer84 {
  color: rgb(84, 172, 0);
}

.numer85 {
  color: rgb(85, 171, 0);
}

.numer86 {
  color: rgb(86, 170, 0);
}

.numer87 {
  color: rgb(87, 169, 0);
}

.numer88 {
  color: rgb(88, 168, 0);
}

.numer89 {
  color: rgb(89, 167, 0);
}

.numer90 {
  color: rgb(90, 166, 0);
}

.numer91 {
  color: rgb(91, 165, 0);
}

.numer92 {
  color: rgb(92, 164, 0);
}

.numer93 {
  color: rgb(93, 163, 0);
}

.numer94 {
  color: rgb(94, 162, 0);
}

.numer95 {
  color: rgb(95, 161, 0);
}

.numer96 {
  color: rgb(96, 160, 0);
}

.numer97 {
  color: rgb(97, 159, 0);
}

.numer98 {
  color: rgb(98, 158, 0);
}

.numer99 {
  color: rgb(99, 157, 0);
}

.numer100 {
  color: rgb(100, 156, 0);
}

/*# sourceMappingURL=style.css.map */
